@model IEnumerable<Thuongmaidientu.Models.Product>

@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <style>
        th, td {
            text-align: center
        }
    </style>

}
<h3 class="text-center">Product List</h3>
<p>
    <a asp-action="Add" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Image
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
              </td>
            <td>
               @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @(item.Status ? "Đang bán" : "Không bán")
            </td>
            <td>
                <img src="@item.ImageUrl" alt="Product Image" style="width: 50px; height: 50px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
          
            <td>
                    <a asp-action="Update" asp-route-id="@item.ProductId" class="btn btn-secondary">Edit</a> |
                    <a asp-action="Display" asp-route-id="@item.ProductId" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
