@model IEnumerable<Thuongmaidientu.Models.Category>

@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <style>
        th,td {
            text-align : center;
        }
    </style>
}
<p>
    <a asp-action="Add" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-secondary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
